html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
  width: 70px !important;
  height: 70px !important;
  color: black !important;
  background-color: #EDF2F7 !important;
}

.addToCartBtn {
  position: absolute !important;
  top: 90% !important;
  left: 5% !important;
  border-radius: 50% !important;
}

.cardImgContainer {
  position: relative;
}
